@import "tailwindcss";

:root {
  --color-bg-primary: #F9FDFF;
  --color-primary:    #37C4E2;
  --color-primary-dark: #0F4B8A;
}


@theme inline {
  --color-background: var(--color-bg-primary);
  --color-foreground: var(--color-primary);
  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F9FDFF;
  }
}

body {
  margin: 0;
  padding: 0;
  width: full;
  height: full;
  background: var(--color-background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', 'Poppins', system-ui, sans-serif;
}
