@import "tailwindcss";

:root {
  --color-bg-primary: #F9FDFF;
  --color-primary:    #37C4E2;
  --color-primary-dark: #0F4B8A;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  width: full;
  height: full;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
